/*-------------- reset.css --------------------*/


/* --Elements-- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
lable,
textarea,
p,
blockquote,
img,
th,
td {
    margin: 0;
    padding: 0;
    font-family: '微软雅黑';
}

img {
    border: none;
    float: none;
}

fieldset {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

dt,
dd,
li {
    position: relative;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    margin: 0;
    word-break: break-all;
}

select,
input {
    vertical-align: middle;
    padding: 1px 0;
}

label {
    cursor: hand;
}

table {
    border-collapse: collapse;
    border-spacing: 0px;
}

q:before,
q:after {
    content: ”;
}

abbr,
acronym {
    border: 0;
}

button {
    outline: 0;
    _blr: expression(this.onFocus=this.blur());
}


/*去除边框虚线*/

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

input {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
}

table {
    background: #ffffff;
}


/* 通用 */

::-webkit-input-placeholder {
    color: #999;
    font-size: 0.75rem;
}

::-moz-placeholder {
    color: #999;
}


/* firefox 19+ */

:-ms-input-placeholder {
    color: #999;
}


/* ie */

input:-moz-placeholder {
    color: #999;
}


/*-------------- base.css --------------------*/

.split-line {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    width: 75px;
    height: 2px;
    background-color: #dbdbdb;
}

.l {
    float: left;
}

.r {
    float: right;
}

.z {
    *zoom: 1;
}

.center {
    margin: 0 auto;
}

.hide {
    display: none;
}

.block {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}


/*块状元素水平居中*/

.auto {
    margin-left: auto;
    margin-right: auto;
}


/*清除浮动*/

.fix {
    *zoom: 1;
}

.fix:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}


/*单行文字溢出虚点显示*/

.ell {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/*红色标记*/

.mark {
    font-weight: bold;
    color: #ff0000;
}


/*字符型图标样式*/

.symbol {
    font-size: 14px;
    font-weight: bold;
    color: #0066cc;
}


/*主区域区背景*/

.main-eara {
    margin: 0 auto;
    text-align: center;
    width: 1003px;
    background-color: #fff;
}